/* @import url(/style/reset.css); */
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.awesome__header {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  margin-bottom: 40px;
}

.header__title {
  margin-bottom: 92px;
}
.header__text {
  color: #86878b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.23px;
}

.awesome__header:after {
  content: "";
  display: block;
  margin-left: 45%;
  margin-top: 40px;
  width: 64px;
  height: 1px;
  background-color: #ec7979;
}

.awesome__content {
  display: flex;
  text-align: center;
}
.awesome-card__wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
  border: 1px solid #EC7979; 
  border-radius: 50%;
  width: 92px;
  height: 92px;
  margin-bottom: 24px;
}



.awesome-card__title {
  color: #000;
  margin-bottom: 26px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
}

.awesome-card__text {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.awesome-card {
  margin-right: 27px
}

.awesome-card:last-child {
  margin-right: 0;
}


.feautures__tab {
  display: flex;
  border-bottom: 0;
}
.tab__item-active {
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  max-width: 203px;
  text-align: center;
  border: 1px solid #c6cbcd;
  border-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}
.feautures__tab-item  {
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  max-width: 203px;
  text-align: center;
  border-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}


.feautures {
  margin-bottom: 118px;
}


.feauture {
  display: flex;
  border: 1px solid #c6cbcd;
}

.feautures__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.85px;
  color: #000000;
  margin-bottom: 57px;
}
.feautures__text {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 26px;
}

.feautures__text:nth-last-of-type(1) {
  margin-bottom: 58px;
}

.feautures__button {
    background-color: #ec7979; 
    border: none;
    max-width: 207px;
    width: 100%;
    padding: 17px;
    line-height: 24.51px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.feauture__wrapper-image {
  width: 40%;
}
.feauture__image {
  height: 100%;
  width: 100%;
}

.feauture__content {
  width: 60%;
  padding: 56px 30px 54px 100px;
}
