*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.head__title{
    position: relative;
    line-height: 42.26px;
    color: #000;
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-weight: 400;
}

.head__title::after{
    position: absolute;
    content: '';
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    height: 1px;
    background: #EC7979;
}
    
 .head__text{
    line-height: 21.13px;
     color: #86878B;
    text-align: center;
    font-size: 18px;
 }

.header{
    background-color: #000;
    padding: 22px 0;    
}

.container__header{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    max-width: 86.803px;
    max-height: 31px;
    width: 100%;
    height: 100%;
}

.header__links{
    display: flex; 
    flex:1 0;
    justify-content: flex-end;
    align-items: center;
}

.header__link{
    max-width: 113.799px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-transform: capitalize;
    text-decoration: none;
}

.banner{
    position: relative;
    padding: 306px 0 185px;
    background-image: url(../img/bannerBG.jpg);
    z-index: -2;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: -1;
}

.banner__wrapper{
    max-width: 670px;
    width: 100%;
}

.banner__logo{
    margin-bottom: 73px;
}

.banner__title{
    position: relative;
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.35px;
    text-transform: uppercase;
    margin-bottom: 97px;
}

.banner__title::after{
    position: absolute;
    content: '';
    bottom: -55px;
    left: 0;
    width: 170px;
    height: 1px;
    background: #FFF;
}

.banner__text{
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 42px;
}

.banner__button{
    max-width: 270px;
    width: 100%;
    border: 1px solid #FFF;
    padding: 20px 0;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background: inherit;
}

.tabs {
    background-color: #FFF;
    margin-bottom: 118px;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.tabs__list{
    list-style-type:none;
    display: flex;
}

.tabs__item{
    background-color: #fff;
    max-width: 203px;
    width: 100%;
    padding: 10px;
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19.07px;
    text-transform: uppercase;
    border:none
    
}

.tabs__item-active{
    position: relative;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
}

.tabs__item-active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -3px;
    display: block;
    background-color: #FFF;
}

.tab__content{
    border: 1px solid #C6CBCD;
    display: flex;
}

.tab__content-description{
    padding: 55px 30px 54px 100px;
    width: 60%;
}

.tab__content-image{
    width: 40%;
}

.tab__image{   
    height: 100%;
    width: 100%;
}

.tab__title{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    margin-bottom: 57px;
}

.tab__text{
    color: #000;
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 26px;
}

.tab__text:nth-last-of-type(1){
    margin-bottom: 84px;
}

.tab__button {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background-color: #EC7979;
    padding: 17px;
    border:none;
}


.design {
    background-color: #FFF;
    margin-bottom: 110px;
 }

.head__design{
    margin-bottom: 92px;
}

.design__wrapper{
    display: flex;
    column-gap: 28px;
 }

.design__item{
    max-width: 371px;
}

.design__wrapper-icon{
    border-radius: 50%;
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 24px;
}
.design__title{
    line-height: 32.68px;
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 26px;
}

.design__text{
    line-height: 21.13px;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.pricing {
    background-color: #F5F5F5;
    padding: 82px 0px 83px;
    margin-bottom: 107px;
}

.head__pricing{
    margin-bottom: 79px;
}

.pricing__variants {
    display: flex;
    justify-content: center;
    column-gap: 31px;
}

.pricing__item {
    max-width: 370px;
    width: 100%;
}

.pricing__item-main {
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

.pricing__info {
    background-color: #333333;    
}

.pricing__info-plan {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: capitalize;
    border: 1px solid #FFF;
    padding: 10px 0;
}

.pricing__info-price {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.26px;
    padding: 25px 0;
    border: 1px solid #FFF;
}

.pricing__info__text {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
    border: 1px solid #FFF;
    padding: 10px 0;
}

.pricing__offers {
    list-style-type: none;
    background-color: #FFF;
}

.pricing__offer {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
    text-transform: capitalize;
    border: 0.5px solid #F5F5F5;
    padding: 10px;
}

.pricing__offer:last-of-type{
    border-bottom: none;
}

.customers{
    margin-bottom: 108px;
}

.head__customers{
    margin-bottom: 83px;
}

.customers__wrapper {
    display: flex;
    column-gap: 30px;
}

.customer__text {
    position: relative;
    border-radius: 10px;
    background: #E2E2E2;
    padding: 38px 25px;
    color: #86878B;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 66px;
}

.customer__text::after{
    position: absolute;
    content:'';
    top: 100%;
    left: 70px;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
}

.customer__photo-wrapper {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.customer__photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer__self{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}

.customer__self-name {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; 
    text-transform: capitalize;
    margin-bottom: 18px;
}

.customer__self-post {
    color: #000;
    font-size: 18px;
    line-height: 21.13px;
}

.stylish {
    position: relative;
    padding:70px 0px;
    background: center / cover no-repeat  url(../img/stylishBG.jpg);
    z-index: -2;
}

.stylish::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: -1;
}

.head__stylish{
    margin-bottom: 80px;
}

.head__title-stylish {
    color: #FFF;
}

.head__title-stylish::after{
    background: #FFF;
}

.head__text-stylish {
    color: #FFF;
    z-index: 3;
}

.stylish__button {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 370px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background: inherit;
    border: 1px solid #FFF;
}

.footer{
    background-color: #000;
    padding: 35px 0 27px;
}

.footer__icons{
    display: flex;
    justify-content: center;
    column-gap: 33px;
    margin-bottom: 28px;
}

.footer__icon{
    width: 53.2px;
    height: 53.2px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.footer__icon svg {
    width: 100%;
    height: 100%;
}

.footer__text{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
}