*{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.axit-header{
    background-color: #000;
    padding: 22px 0;
}


.axit__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.axit-header__logo-wrapper{
   display: flex;
}


.axit-header__logo{
    width: 100%;
    height: 100%;
}


.axit-header__menu{
}


.axit-header__menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    column-gap: 55px;
}


.menu-item{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-transform: capitalize;
    text-decoration: none;
}


.banner{
    padding: 306px 0 185px;
    background-image: url(/img/Banner.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
}


.banner__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    column-gap: 30px;
}


.banner__template{


}


.banner__logo-wrapper{
    width: 170px;
    height: 55px;
    margin-bottom: 73px;
}


.banner__logo{
    width: 100%;
    height: 100%;
}


.banner__title{
    max-width: 670px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 97px;
    position: relative;
}


.banner__text-header::before{
    content: '';
    width: 170px;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 100%;
    transform: translateY(55px);
}


.banner__text{
    max-width: 270px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 42px;
}


.banner__btn{
    background: transparent;
    border: 2px solid #fff;
    text-transform: capitalize;
    padding: 16px 16px 17px;
    max-width: 270px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}


.banner-btn:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}


.banner-btn:active{
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFF;
}

.banner__form-container{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 27px;
}

.banner__form{
    padding: 36px 50px 0 53px;
    margin-bottom: 75px;
}

.banner__form-header{
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.header-style{
    color: #EC7979;
}

.form-input{
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 32px;   
}

.form-input::placeholder{
    color: #BDBDBD;
}

.form-input:focus{
    outline: none;
    background-color: #eeeff3;
}

.form-input:hover{
    background-color: #f6f6f9;
}

.banner__input{
    max-width: 370px;
}

.banner__input:last-child{
    margin-bottom: 0;
}

.banner__form-button{
    border: none;
    background: #EC7979;
    padding: 17px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner__form-button:hover{
    background: #AB4949;
}


.banner__form-button:active{
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.social-media{
    background-color: #F8EFEF;
    padding: 32px 0 18px;
    margin: 0 0 100px;
}

.social-media__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media__info{
    max-width: 470px;
}

.social-media__header{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.social-media__text{
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.social-media__contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
}

.social-media__link{
    flex: 1 1 auto;
    width: 70px;
    height: 70px;
    display: flex;
}

.social-media__link:hover path{
    fill: #AB4949;
}


.social-media__icon{
    width: 100%;
    height: 100%;
} 

.info {
    margin: 0 0 118px;
}


.info__tabs {
   
}




.info__link {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    max-width: 203px;
    display: inline-block;
    text-align: center;
}




a.tab-one {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #c6cbcd;
    position: relative;
}




a.tab-one::after{
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -4px;
}




.info__wrapper {
    border: 1px solid #C6CBCD;
}




.info__content {
    display: inline-block;
    width: 60%;
    padding: 55px 23px 54px 100px;
    vertical-align: top;
}




.info__title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    margin: 0 0 57px;
}




.info__wrapper-text {
    margin-bottom: 84px;
}




.info__text {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
}




.info__text:last-child {
    margin-bottom: 0;
}




.container__btn {
    border: none;
    background: #EC7979;
    padding: 16px 16px 17px;
    max-width: 270px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}


.container__btn:hover{
    background: #AB4949;
}


.container__btn:active{
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}


.info__wrapper-image {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}




.info__image {
    width: 100%;
    height: 100%;
}




.description {
    margin: 0 0 110px;
}




.container__title {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}




.container__title::after{
    content: '';
    width: 170px;
    height: 1px;
    display: block;
    background-color: #EC7979;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 40px);
}




/* .container__line {
    width: 170px;
    height: 1px;
    margin: 0 auto 40px;
    background-color: #EC7979;
} */




.container__text {
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 92px;
}




.description__items {
    max-width: 1170px;
    margin: 0 auto;
}




.design {
    width: calc((100% - 20px - 20px) / 3);
    display: inline-block;
    margin: 0 10px 0 0;
}




.design:last-child {
    margin-right: 0;
}




.design__wrapper-icon {
    border: 1px solid #EC7979;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    margin: 0 auto 24px;
}




.design__icon {
    width: 65px;
    height: 65px;
    margin: 13px;
}




.design__title {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 30px;
}




.design__text {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}




.pricing {
    background-color: #F5F5F5;
    margin: 0 0 107px;
    padding: 82px 0 83px;
}




.pricing-text {
    margin-bottom: 79px;
}




.pricing__list {
    display: flex;
    column-gap: 31px;
    flex-wrap: wrap;
}




ul {
    list-style-type: none;
    flex: 1 1 auto;
}




.options__list {
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    padding: 14px;
    background-color: #fff;
    border-bottom: 1px solid #F5F5F5;
}


.options__list:last-child{
    border-bottom: none;
}


.options-title {
    background-color: #333333;
    padding: 13px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}




.options-price {
    background-color: #333333;
    padding: 29px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
}




.options-free {
    background-color: #333333;
    text-transform: none;
}




.options:nth-child(2) {
    margin-top: -20px;
}
.options:nth-child(2) .options__list{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}




.customers{
    margin: 0 0 108px;
}




.customers-text{
    margin-bottom: 83px;
}




.customers__list{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}




.reviews{
    flex: 1 1 auto;
    max-width: 370px;
}


.reviews__text{
    text-align: center;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 38px 25px 37px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}

.reviews__text::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    position: absolute;
    top: 100%;
    left: 70px;
}

.reviews__data{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}




.reviews__data-photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}




.customer-photo{
    width: 100%;
    height: 100%;
}




.reviews__data-info{


}


.reviews__data-name{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}




.reviews__data-position{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}


.axure {
    margin: 0 0 67px;
    padding: 70px 0;
    background-image: url(/img/axure.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.axure::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
}


.container-axure{
    position: relative;
}


.axure-title{
    color: #fff;
}


.axure-title::after{
    content: '';
    background-color: #fff;
}


.axure-text{
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}


.axure__btn{
    max-width: 370px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.contact-us{
   margin-bottom: 66px;
}

.contact-us-text{
    margin-bottom: 89px;
}

.contact-us__wrapper-fields{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 50px;
}

.contact-us__personal-form{
    display: flex;
    flex-direction: column;
    max-width: 571px;
    width: 100%;
}

.contact-us__input{
    margin-bottom: 50px;   
}

.contact-us__input:last-child{
    margin-bottom: 0;
}

.contact-us__message-form{
    max-width: 569px;
    width: 100%;
}

.contact-us__textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.contact-us__textarea:focus{
    outline: none;
    background-color: #eeeff3;
}

.contact-us__textarea:hover{
    background-color: #eeeff3;
}

.contact-us__textarea::placeholder{
    color: #bdbdbd;
}


.contact-us__btn{
    max-width: 370px;
    display: block; 
    margin: 0 auto;
}


.footer{
    background-color: #000;
    padding: 35px 0 27px;
}


.footer__container{

}


.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 27px;
}


.footer__link{
    width: 53px;
    height: 53px;
    display: flex;
}


.footer__link:hover path{
    fill: #AB4949;
}


.footer__icon{
    width: 100%;
    height: 100%;
}


.footer__copyright{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
}
