*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway' sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.banner{
    background-image: url(5.png);
    background-position: center;
    background-size: cover;
    padding: 306px 0 185px;
    position: relative;

}
.banner::after{
    content: '';
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner__container{
    position: relative;
    z-index: 1;
}
.box__logo{
    margin-bottom: 73px;
}
.box__title{
    margin-bottom: 97px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    position: relative;
    max-width: 670px;
}
.box__title::after{
    content: '';
    width: 170px;
    border: 1px solid#FFF;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0 , 55px);
}
.box__text{
    color: #FFF;
    font-size: 18px;
    line-height: 21px;
    max-width: 210px;
    margin-bottom: 42px;
}
.box__button{
    color: #FFF;
    max-width: 270px;
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 16px 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-transform: capitalize;
}
.box__button:hover{
    color: #EC7979;
    border-color:  #EC7979;
}
.box__button:active{
    color: #FFF;
    background-color: #AB4949;
}