*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway' sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.footer{
    background-color: #000;
    padding:35px 0 30px ;
}
.icon{
    max-width: 482px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 38px;
}
.footer__text{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}