*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin:0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.tabs__button{
    background: transparent;
    font-size: 14px;;
    line-height: 28px;
    max-width: 203px;
    width: 100%;
    padding: 12px;
    text-align: center;
    border: none;
}


.tabs__button_active{
border: 1px solid #C6CBCD;
border-radius:5px 5px 0 0;
}
.tab{
    border: 1px solid #C6CBCD;
}
.tab__content{
    padding: 55px 29px 55px 100px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
.tab__title{
    color: #000;
    font-family: 'Open Sans' , sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 57px;
}
.tab__text{
    line-height:26px;
    margin-bottom:26px;
    color: #000;
    font-family:'Raleway' , sans-serif;
    font-size: 18px;
}
.tab__text:nth-last-child(2){
    margin-bottom: 40px;
}
.tab__button{
    max-width: 270px;
    width: 100%;
    border: none;
    padding: 17px;
    background-color: #f55757;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.tab__wrapper-image{
    width: 39%;
    display: inline-block;
    vertical-align: top;
}
img.tab__image{
    width: 100%;
    height: 100%;
}