*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.head__title{
    margin-bottom: 80px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.head__title::after{
    content:'';
    background: #EC7979;
    width:170px;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 85px);
}

.head__text{
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom:92px; 
}

.tabs{
    margin-top: 100px;
    margin-bottom: 118px
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto; 
}

.tabs__item{
    color:#333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    max-width: 203px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.tabs__item_active{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    position: relative;
}

.tabs__item_active::before{
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background-color: #FFF;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.tab{
    border: 1px solid #C6CBCD;
}

.tab__info{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding: 56px 30px 54px 100px;
}

.tab__title{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    margin-bottom: 57px;
}

.tab__text{
    margin-bottom: 26px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.tab__text:nth-last-of-type(1){
    margin-bottom: 84px;
}

.tab__link{
    background-color: #EC7979;
    border: 1px solid #EC7979;
    display: inline-block;
    max-width: 270px;
    width: 100%;
    text-decoration: none;
    padding: 17px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.tab__wrapper-img{
    display: inline-block;
    width: 39%;
}

.tab__img{
    width: 100%;
    height: 100%;
}

.awesome{
    margin-bottom: 118px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.awesome__blocks{
    display:inline-flex;
}

.blocks__wrapper-icon{
    width: 92px;
    height: 92px;
    margin: 0 auto 15px;
}

.blocks__title{
    margin:0 0 26px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height:normal;
}

.blocks__text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.pricing{   
    background-color: #F5F5F5;
    padding-bottom: 83px;
    padding-top: 82px;
    margin-bottom: 107px;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
} 

.pricing__flex{
    display:flex;
    column-gap: 31px;
    align-items:self-end;
    min-height: 528px;
}

.pricing__block{
    flex:1 1 auto;
    list-style-type: none;
    text-align: center;
}

.pricing__block-higher{
    align-self:flex-start;
    box-shadow: 5px 7px 5px 0px #33333333;
}

.block__name{
    padding:15px 0 14px;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block__price{
    padding: 25px 0;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block__free{
    padding: 15px 0 14px;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    color: #ffffff80;
    font-size: 18px;
    line-height: 21px;
}

.block__space{
    padding: 15px 0 14px;
    background-color: #FFFFFF;
    color: #86878B;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.block__space:last-child{
    border: none;
}

.customers__blocks{
    display:flex;
    column-gap: 30px;
}

.customer__text{
    padding: 38px 25px 37px 25px;
    margin-bottom: 66px;
    border-radius: 10px;
    background: #E2E2E2;
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    position: relative;
}

.customer__text::after{
    content: '';
    position: absolute;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    left: 40px;
    top: 100%;
}

.customer__info{
    display: flex;
    column-gap: 31px;
}

.customer__wrapper-photo{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 70px;
    overflow: hidden;
}

.customer__photo{
    width: 100%;
    height: 100%;
}

.customer__name{
    color: #000;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.customer__post{
    color: #000;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;

    line-height: normal}.banner {
        position: relative;
        padding: 381px 0px 185px 0px;
        background-image:url(/img/banner.png);
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        z-index: 1;
      }
      .banner::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.50);
        top: 0;
        left: 0;
        z-index: -1;
      }
      .banner__container {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        align-items:center;
      }
      .banner__logo {
        max-width: 170px;
        height: 100%;
        margin-bottom: 72px;
      }
      .banner__title {
        position: relative;
        max-width: 650px;
        color: #FFF;
        font-size: 48px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 56.35px;
        margin-bottom: 97px;
      }
      .banner__title::after{
        background-color:#fff;
        left: 0;
        bottom:-55px;
        transform: none;
      }
      .banner__info {
        max-width: 270px;
        color: #FFF;
        font-size: 18px;
        line-height: 21.13px;
        margin-bottom: 42px;
      }
      .cta {
        display: block;
        cursor: pointer;
        max-width: 270px;
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        background:none;
        border: 2px solid #FFF;
        line-height: 25px;
        padding: 16.5px;
      }
      .bannner__form {
        display: flex;
        flex-direction: column;
        background-color:#fff;
        padding: 36px 50px 0px 50px;
        border-radius: 10px;
      }
      .banner__form-try {
        color: #333;
        text-align: center;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 32.68px;
        text-transform: uppercase;
        margin-bottom: 75px;
      }
      .banner__form-try span{
        color: #EC7979;
      }
      .bannner__fields {
        display: flex;
        flex-direction: column;
      }
      
      .banner__field {
        margin-bottom: 30px;
        max-width: 370px;
        height: 40px;
        color: #BDBDBD;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        border-bottom: 1px solid #BDBDBD; 
        outline: none;
        padding-bottom: 16px;
      }
      .banner__field:last-of-type{
        margin-bottom: 75px;
      }
      
      .banner__field-button {
        width: 470px;
        height: 100%;
        margin: 0 -50px;
        color: #FFF;
        text-align: center;
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding: 20px;
        border-radius: 0px 0px 10px 10px;
        background: #EC7979;
        border:none;
      }
      .design__header{
        color: #FFF;
      }
      .design__header::after{
        background-color:#FFF;
      }
      .design {
        position: relative;
        background-image:url(/img/design.jpg);
        padding:70px 0px;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        z-index: 1;
      }
      .design::after{
        position: absolute;
        content:'';  
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.50);
        top: 0;
        left: 0;
        z-index: -1;
      }
      .design__cta {
        max-width: 370px;
        margin: 0 auto;
      }
      .design__subtittle{
        color: #FFF;
      }
