*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.header {
    background: rgba(0, 0, 0, 1);
    padding: 22px 0 22px;    
}

.header__container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

a.header__logo {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;

}

.nav__link {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav__link:hover {
    background: #EC7979;
}

.nav__link:active {
    background: #AB4949;
}

.media {
    background: rgba(248, 239, 239, 1);
    padding: 32px 0 18px;
    margin-bottom: 100px;
}

.media__container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.media__description {
    max-width: 470px;
    width: 100%;
}

.media__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 16px;
}

.media__text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(134, 135, 139, 1);
}

.media__social {
    display: flex;
    gap: 30px;
}

.media__social a {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media__social svg {
    width: 100%;
    height: 100%;
}

.media__social a:hover svg path {
    fill: #EC7979;
}

.media__social a:active svg path {
    fill: #AB4949;
}

.media__social svg:hover {
    color: #EC7979;
}

.modern {
    padding: 306px 0 185px;
    background: url('./src/images/bckg.png') no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}

.modern::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }

.modern__container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 100px;
    z-index: 1;
}

.modern__content {
    min-width: 670px;
    width: 100%;
}

.modern__logo-wrap {
    margin-bottom: 72.88px;
}

.modern__logo {
    max-width: 170px;
    max-height: 55px;
    width: 100%;
}

.modern__title {
    color: rgba(255, 255, 255, 1);
    font-family: "Raleway";
    font-weight: 500;
    font-size: 48px;
    line-height: 56.35px;
    margin-bottom: 97.12px;
    position: relative;
}

.modern__title::after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    width: 170px;
    bottom: -55px;
    left: 0;
    position: absolute;
}

.modern__text {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 42px;
    max-width: 270px;
    width: 100%;
}

.modern__button {
    display: block;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    max-width: 270px;
    width: 100%;
    text-align: center;
    padding: 17px 0;
    cursor: pointer;
}

.modern__button:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.modern__button:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: rgba(255, 255, 255, 1);
}

.form {
    background: rgba(255, 255, 255, 1);
    min-width: 470px;
    width: 100%;
    border-radius: 10px;
}

.form__container {
    padding: 36px 50px 0 50px;
    margin-bottom: 75px;
}

.form__title {
    font-family: "Open sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    text-align: center;
    margin-bottom: 75px;
}

.form__painting {
    color:rgba(236, 121, 121, 1);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px 0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #212529;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    margin-bottom: 33px;
}

.form__password {
    margin-bottom: 0;
}

.form__button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    line-height: 20.43px;
    text-align: center;
    background-color: rgba(236, 121, 121, 1);
    display: block;
    width: 100%;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.form__button:hover {
    background: #AB4949;
}

.form__button:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.tabs {
    margin:0 auto 118px;
}

.tabs__list {
    display: flex;
    font-family: "Open Sans", sans-serif;
    justify-content: space-around;
    max-width: 552px;
}

.tabs__list-item {
    text-decoration: none;
    color: #333333;
    max-width: 184px;
    width: 100%;
    text-align: center;
    padding: 10px 16px;
}

.tabs__selected {
    border: 1px solid #C6CBCD;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.tabs__selected::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    width: 182px;
    bottom: -1px;
    left: 0;
}

.tabs__main {
    display: flex;
    padding-left: 101px;
    border: 1px solid #C6CBCD;
}

.tabs__info {
    max-width: 700px;
    width: 60%;
    padding: 55px;
    padding-left: 0;
}

.tabs__title {
    font-family: "Open Sans";
    margin-bottom: 57px;
    font-size: 30px;
    line-height: 41px;
}

.tabs__text {
    margin-bottom: 26px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
}

.tabs__text:nth-last-of-type(1) {
    margin-bottom: 84px;
}

.tabs__button {
    max-width: 270px;
    width: 100%;
    padding: 17px;
    background-color: #EC7979;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.tabs__button:hover {
    background: #AB4949;
}

.tabs__button:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.tabs__wrapper-image {
    width: 40%;
}

.tabs__image {
    width: 100%;
    height: 100%;
}

.awesome {
    margin-bottom: 110px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 80px;
    position: relative;
}

.title::after {
    position:absolute;
    content: "";
    border-bottom: 1px solid #EC7979;
    width: 170px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.awesome__design {
    display:flex;
    gap: 27px;
}

.text {
    text-align: center;
    font-family: "Raleway";
    color: #86878B;
    font-size: 18px;
    margin-bottom: 92px;
}

.awesome__img {
    border-radius: 50%;
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin:auto;
    margin-bottom: 24px;
}

.lamp__img {
    background-image: url('./src/images/lamp.svg');
}

.keyboard__img {
    background-image: url('./src/images/keyboard.png');
}

.lightning__img {
    background-image: url('./src/images/lightning.svg');
}

.awesome__title {
    font-family: "Open sans";
    text-align: center;
    margin-bottom: 26px;
    line-height: 33px;
    font-weight: 700;
    font-size: 24px;
}

.awesome__text {
    font-family: "Raleway";
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.pricing {
    background-color: rgba(245, 245, 245, 1);
    padding: 82px 0;
    margin-bottom: 110px;
}

.pricing__title {
    font-size: 36px;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 40px;
}

.pricing__tarifs {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.pricing__text {
    text-align: center;
    font-family: "Raleway";
    color: #86878B;
    font-size: 18px;
    margin-bottom: 92px;
}

.tarif {
    max-width: 370px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.pricing__tarifs-first:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.2)
}

.tarif__name {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    padding: 10px 0 10px;
}

.tarif__price {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    min-width: 370px;
    width: 100%;
    padding: 20px 0 20px;
}

.tarif__text-wrapper {
    background-color: rgba(51, 51, 51, 1);
}
.tarif__text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    background-color: rgba(51, 51, 51, 1);
}

.tarif__offer {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(134, 135, 139, 1);
    padding: 15px 0 14px;
    border: 2px solid rgba(245, 245, 245, 1);
    background-color: rgba(255, 255, 255, 1);
}

.customers {
    margin-bottom: 110px;
}

.customers__persons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.customers__person {
    display: flex;
    gap: 30px;
}

.customers__review {
    max-width: 370px;
}

.customers__text {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    padding: 50px 25px;
    text-align: center;
    background: rgba(226, 226, 226, 1);
    border-radius: 10px;
    color: rgba(134, 135, 139, 1);
    position: relative;
    margin-bottom: 66px;
}

.customers__text::after {
    content: '';
    position: absolute;
    left: 70px;
    bottom: -40px;
    border: 15px solid transparent;
    border-top: 25px solid rgba(226, 226, 226, 1);
}

.customers__name {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 19px;
}

.customers__title {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21.13px;
}

.customers__wrapper-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.customers__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stylish {
    padding: 70px 0;
    background: url('./src/images/stylish__bckg.png') no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 66px;
}

.stylish::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }

  .stylish__container {
    position: relative;
    z-index: 1;
  }

.stylish__title {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 80px;
    position: relative;
}

.stylish__title::after {
    position:absolute;
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    width: 170px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.stylish__text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 80px;
}

.stylish__button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding: 17px 0;
    background: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.stylish__button:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.stylish__button:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: rgba(255, 255, 255, 1);
}

.contact {
    margin-bottom: 66px;
}

.contact__form {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.contact__form-info {
    max-width: 571px;
    width: 100%;
}

.message__input {
    display: block;
    width: 100%;
    padding: 20px 0 0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #212529;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    position: relative;
    resize: none;
}

.contact__button {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        line-height: 24.51px;
        text-align: center;
        background-color: rgba(236, 121, 121, 1);
        display: block;
        max-width: 370px;
        width: 100%;
        border: none;
        color: rgba(255, 255, 255, 1);
        padding: 20px 0;
        margin: 0 auto;
        cursor: pointer;
}

.contact__button:hover {
    background: #AB4949;
}

.contact__button:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.footer {
    background: rgba(0, 0, 0, 1);
    padding: 35px 0 27px;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 27.8px;
}

.footer__social a {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social svg {
    width: 100%;
    height: 100%;
}

.footer__text {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.footer__social a:hover svg path {
    fill: #EC7979;
}

.footer__social a:active svg path {
    fill: #AB4949;
}

