*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.section__head{
    
    margin-bottom: 92px;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    width: 170px;
    height: 1px;
    top: calc(100% + 40px);
    left: calc(50% - 85px);
    background-color: #EC7979;
}


.subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-top: 40px;
}

/* header */
.header__wrapper{
    background-color: #000;
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
}

.header__logo-container{
    padding-left: 170px;
    height: 31px;
}

.header__nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
}

.header__nav-links li{
    margin: auto;
    min-width: 113px;
    width: 100%;
}

.header__nav-links li{
    text-align: center;
}

.header__nav-link{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 6px;

}

/* banner */

.banner{
    background-image: url(/images/banner/background.png);
    background-size: cover;
    padding-top: 333px;
    padding-bottom: 185px;
    position: relative;
}

.container-banner {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.banner__info{
    display: inline-block;
    max-width: 670px;
    width: 100%;
    margin-right: 30px;
}

.banner__form-wrapper{
    max-width: 470px;
    width: 100%;

}

.title-banner{
    font-weight: 500;
    font-size: 48px;
    color: #FFF;
    text-align: left;
    line-height: 56px;
    margin-bottom: 57px;
}

.title-banner::after{
    background-color: #FFF; 
    left: 0;
}

.subtitle-banner{
    color: #FFF;
    text-align: left;
    max-width: 270px;
    margin-bottom: 42px;
}

.banner__logo{
    padding-bottom: 72px;
}

.banner__logo svg{
    margin-top: -27px;
} 

.banner__btn{
    display: inline-block;
    max-width: 270px;
    min-width: 95px;
    width: 100%;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 0;
    text-decoration: none;
}

.banner__form-wrapper {
    text-align: center;
    max-width: 470px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.banner__form {
    padding: 36px 50px 0;
    margin-bottom: 75px;
}
.form__title {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.form__coloring {
    color: #EC7979;
}
.form__input {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    padding: 16px 0 16px;
    width: 100%;
    max-width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px;
}
.form__input::placeholder {
    color: #BDBDBD;
}
.banner__form .form__input:last-of-type  {
    margin-bottom: 0;
}
.form__button {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.43px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.form__button:hover {
    background-color: #AB4949;
    border: 1px solid #AB4949;
}
.form__button:active {
    border: 1px solid #AB4949;
}

/* media */

.media {
    margin-bottom: 100px;
    background-color: #F8EFEF;
    padding: 32px 0 18px;
}
.container-media {
    display: flex;
    align-items: center;
    justify-content: center;

}
.media__info-title {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.media__info-text {
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.media__links-wrapper{
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
}

.media__link{
    width: 70px;
    height: 70px;
}
/* tabs */

.tabs{
    margin-top: 100px;
    margin-bottom: 118px;
}

.tabs__wrapper{
    display: flex;
}

.tabs__elem-text.active{
    width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    position: relative;
}

.tabs__elem-text.active::before{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background: #FFF;
    position: absolute;
    left:0;
    bottom: -2px;
}

.tabs__elem-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 203px;
    padding: 11px;
    color: #333333;
    line-height: 18px;
    border-radius: 5px 5px 0px 0px;
}

.tabs__content{
    display: flex;
    border: 1px solid #C6CBCD;
}

.tabs__text{
    padding: 55px 29px 55px 101px ; 
    width: 60%; 
}

.tabs__content-title{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 57px;
    height: 40px;
}

.tabs__content-descr{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 26px;
}

.tabs__content-descr:nth-last-of-type(1){
    margin-bottom: 84px;
}

.tabs__content-button{
    max-width: 270px;
    width: 100%;
    border: none;
    padding: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #EC7979;
    color: #FFFFFF;
}

.tabs__img-wrapper{
    width: 40%;
}

.tabs__content-img{
  height: 100%;
  width: 100%;
}




/* awesome */

.awesome{
    margin-bottom: 110px;
}

.awesome-pros{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.awesome-pros__group{
    max-width: 372px;

}
.awesome-pros__wrapper-image{
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 24px;
}

.awesome-pros__image{
    display: block;
    
    margin: auto;
    width: auto;
    height: auto;
    top:50%;
}

.awesome-pros__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    margin-bottom: 30px;
}

.awesome-pros__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

/* pricing */

.pricing {
    padding: 83px 0px;
    background-color:#F5F5F5;
}

.pricing__options {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.pricing__option {
  max-width: 370px;
  width: 100%;
}


.pricing__option-tittle {
    padding: 14px 0px;
    background-color:#333333;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
}
.pricing__option-price {
    font-family: 'Raleway', sans-serif;
    background-color:#333333;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    padding: 29px 0px;
    border-top: 2px solid #F5F5F5;
}
.pricing__option-comment {
    font-family: 'Raleway', sans-serif;
    background-color:#333333;
    padding: 15px 0px 14px 0px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border-top: 2px solid #F5F5F5;
}

.pricing__option-benefits{
    list-style-type: none;
}

.pricing__option-benefit {
    font-family: 'Raleway', sans-serif;
    max-height: 100%;
    background-color:#fff;
    padding: 15px 0px 14px 0px;
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: capitalize;
    border-bottom: 2px solid #F5F5F5;
}

.pricing__option-benefit:last-of-type{
    border-bottom: none;
}

.pricing__option-optima{
  box-shadow: 0px 4px 10px 0px #33333333;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* customers */

.customers{
    padding: 107px 0px; 
}

.customers__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
  }
  
  .customer {
    flex: 0 0 370px;
  }
  
  .customer__comment {
    position: relative;
    padding: 38px 25px 37px;
    background-color: #e2e2e2;
    border-radius: 10px;
    margin-bottom: 66px;
    color: #86878b;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px; 
  }
  
  .customer__comment::after {
    position: absolute;
    content: "";
    top: 100%;
    left: calc(70 / 370 * 100%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #e2e2e2;
  }
  
  .customer-container {
    display: flex;
    column-gap: 30px;
  }
  
  .customer__img-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .customer__img {
    width: 100%;
    height: 100%;
  }
  
  .customer__name {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; 
    text-transform: capitalize;
    margin-bottom: 18px;
  }
  
  .customer__position {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
  }

  /* design */

  .design{
    background-image: url(/images/design/bg-image.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    padding: 70px 0;
    margin-bottom: 67px;
  }


.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}
.container-design {
    position: relative;
}
.design__head {
    margin-bottom: 0;
}

.title-design{
    color: #FFF;
}

.title-design::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #fff;
    top: calc(100% + 40px);
    left: calc(50% - 85px);
    background-color: #FFF;
    width: 170px;
    height: 1px;
}

.subtitle-design {
    color: #FFF;
    margin-bottom: 80px;
}

.design__button {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background-color: #ff000000;
    border: 2px solid #FFFFFF;
    max-width: 370px;
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    display: block;
}

/* footer */

.container-footer{
    background-color: #000000;
    padding-top: 35px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__links{
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.footer__text{
    color: #ffffff80;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    margin-top: 27px;
}