*{
    padding: 0;
    box-sizing: border-box; 
    margin: 0;
}

:root{
    --first-color: #212121;
    --second-color: #EC7979;
    --third-color: #86878B;
    --forth-color: #333;
    --fifth-color: #000;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px; 
}

.title {
    margin-bottom: 80px;
    color: var(--fifth-color);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    position: relative;
    text-transform: uppercase;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    width: 170px;
    height: 1px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 40px);
    background-color: var(--second-color);

}

.agenda {
    color: var(--third-color);
    margin-bottom: 92px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.banner__container{
    display: flex;
    align-items: center;
}

.banner__btn{
    display: inline-block;
    max-width: 270px;
    width: 100%;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 0;
    text-decoration: none;
}

.banner__btn:hover{
    color: var(--second-color);
    border: 2px solid var(--second-color);
}

.banner__btn:active{
    color: #FFF;
    border: 2px solid #AB4949;  
    background: #AB4949;
}

header {
    background-color: #000;
    padding: 22px 0;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-container{
    display: flex;
}

.header__nav{
}

.header__nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__nav-links li{
    min-width: 113px;
    width: 100%;
}

.header__nav-links li{
    text-align: center;
}

.header__nav-link{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 6px;

}

.banner_wrapper{
    background-size: cover;
    padding-top: 306px;
    padding-bottom: 185px;
    position: relative;
    z-index: 0;
}


.banner_wrapper::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
}

.banner__info{
    display: inline-block;
    max-width: 670px;
    width: 100%;
    margin-right: 30px;
}

.banner__form-wrapper{
    max-width: 470px;
    width: 100%;

}

.banner__form{
}

.banner__title{
    font-weight: 500;
    font-size: 48px;
    color: #FFF;
    text-align: left;
    line-height: 56px;

}

.banner__title::after{
    background-color: #FFF;
    left: 0;
    transform: translate(0, 40px);
}

.banner__agenda{
    color: #FFF;
    text-align: left;
    max-width: 270px;
    margin-bottom: 42px;
}

.banner__logo{
    margin-bottom: 72px;
}

.social_wrapper{
    padding: 32px 0 18px;
    margin-bottom: 100px;
    background-color: #F8EFEF;
}

.social_container{
    display: flex;
    gap: 30px;
}

.social__info{
    max-width: 470px;
    width: 100%;
}

.social__info-title{
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 16px;
}

.social__info-text{
    color: #86878B;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}



.tabs_wrapper{
    margin-bottom: 118px;
}

.tab-btns{
}

.tab-btns__btn{
    max-width: 184px;
    width: 100%;
    padding: 8px 16px;
    background-color: #fff;
    display: inline-block;
    border: none;
}

.tab-btns__btn.active{
    max-width: 202px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border-top:    1px solid #C6CBCD;
    border-right:  1px solid #C6CBCD;
    border-bottom: none;
    border-left:   1px solid #C6CBCD;
    color: var(--forth-color);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    position: relative;
}

.tab-btns__btn.active::before{
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.tabs__content{
    border: 1px solid #C6CBCD;
    display: flex;
}

.tabs__content-wrapper{
    width: 60%;
    padding: 55px 29px 54px 100px;
}

.tabs__content-title {
    margin: 0 0 57px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.tabs__content-article{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 26px;
}

.tabs__content-article:last-of-type{
    margin-bottom: 84px;
  }

.tabs__content-btn{
    max-width: 270px;
    width: 100%;
    border: none;
    color: #FFF;
    background-color: var(--second-color);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 17px 0;
}

.tabs__content-btn:hover{
    background-color: #AB4949;
}

.tabs__content-btn:active{
    background-color: var(--second-color);
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.tabs__content-logo{
    width: 40%;
}

.tabs__content-logo img{
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
}

.awesome_wrapper{
    margin-bottom: 110px;
}

.agenda-price{
    margin-bottom: 79px;
}

.awsome__about{
    display: flex;
}

.awsome__about_item {
    display: inline-block;
    list-style: none;
    max-width: 370px;
    margin: 0 27px 0 0;
}


.awsome__about_item_last {
    margin-right: 0;

}

.awsome__about-circle{
    border: var(--second-color);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    width: 92.249px;
    height: 92px;
    margin: 0 auto 24px;
}

.awsome__about-circle .icon{
    stroke: var(--second-color);
}

.awsome__about-title{
    margin-bottom: 26px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 32px;

}

.awsome__about-text{
    color: var(--fifth-color);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.price_wrapper{
    background-color: #F5F5F5;
    padding: 82px 0;
    margin-bottom: 107px;
}

.price__container{
    
}

.price__options{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 30px;
}

ul.price__options-item{
    list-style: none;
    flex: 1 0 calc(100%/3 - 15px)
}

ul.price__options-item li{
    list-style: none;
    border-bottom: 2px solid #F5F5F5;
}


ul.price__options-item li:last-of-type{
    border-bottom: none;
}

.price__options-item{
    max-width: 370px;
    width: 100%;
}

.price__options-item:hover{
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

.price__item-dark{
    color: #FFFFFF;
    background-color: var(--forth-color);
}


.price__item-title{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 14px;
    text-align: center;
}

.price__item-price{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    padding: 39px;
}

.price__item-info{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 15px;
}


.price__item-option{
    padding: 19px;
    color: var(--third-color);
    background-color: #FFFFFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.reference_wrapper{
    margin-bottom: 82px;
}

ul.references{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    list-style: none;
}

.references__item{
    max-width: 370px;
    width: 100%;
}

.references__item-comment{
    padding: 38px 25px;
    background-color: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    position: relative;
    margin-bottom: 66px;
}

.references__item-comment::after{
    content: "";
    position: absolute;
    fill: #E2E2E2;
    top: 100%;
    left: 70px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #dee2e6;
}

.references__item-info{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.references__item-frame {
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.references__item-frame img{
    width: 100%;
    height: 100%;
}

.references__item-name{
    display: inline-block;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.references__item-job-position{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.references__item-description{
}


.design_wrapper{
    margin-bottom: 67px;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.design_wrapper::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
}

.design__container{
    text-align: center;
}

.design__agenda{
    color: white;
    margin-bottom: 80px;
}

.desing__title{
    color: white;
}

.desing__title::after{
    background-color: #FFF;
}

.design__btn{
    display: inline-block;
    max-width: 370px;
    min-width: 95px;
    width: 100%;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 17px 0;
    text-decoration: none;
}

.design__btn:hover{
    color: var(--second-color);
    border: 2px solid var(--second-color);
}

.design__btn:active{
    color: #FFF;
    border: 2px solid #AB4949;
    background: #AB4949;
}

.social_links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 28px;
}

.social_links__link{
    width: 70px;
    height: 70px;
}

.social_links__link:hover{
    background-color: var(--second-color);
}

footer{
    background-color: #000;
    padding: 35px 0 30px;
}

.footer__ref{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.social_links-banner{
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.social_links__link-banner:hover{
    background-color: #F8EFEF;
}

.social_links__image{
    width: 100%;
}

.social_links__image path:hover{
    fill: var(--second-color);

}

.social_links-banner a {
    width: 70px;
    height: 70px;
    display: flex;
}
