* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}


.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.ban{
    background-image: url(../Img/headerBG.jpg);
    background-position: center;
    position: relative;
    padding: 306px 0 185px ;

}

.ban::after{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner{
    display: flex;
    position: relative;
    z-index: 1;
}

.banner__logo{
    display: block;
    z-index: 1;
}

.logo{
    margin-bottom: 73px;
}

.banner__title{
    color: #FFF;
    margin-bottom: 97px;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    position: relative;
    max-width: 670px;
    width: 100%;
}

.banner__title::before{
    display: block;
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background: #FFF;
    bottom: -55px;
    left: 0;
}

.banner__description{
    color: #FFF;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 42px;
    max-width: 270px;
    width: 100%;
}

.banner__btn{
    color: #FFF;
    max-width: 270px;
    width: 100%;
    padding: 17px;
    background: none;
    border: 2px solid #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}

.banner__form{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    /* margin: 333px auto 243px; */
    max-width: 470px;
    width: 100%;
    border-radius: 10px;
}

.try{
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
}

.red__text{
    color: #EC7979;
}

.media{
    background: #F8EFEF;
    padding: 32px 0 18px;
    margin-bottom: 100px;
}

.media__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media__body{
    max-width: 470px;
    width: 100%;
}

.media__title{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.media__text{
    color: #86878B;
    font-size: 18px;
    line-height: 21px;
}

.media__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.media__icon a{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media__icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tab {
    margin-bottom: 118px;
}



.tabs {
    vertical-align:middle
}

.tabs__item_active{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    position: relative;
}

.tabs__item_active::after{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background: #ffffff;
    position: absolute;
    bottom: -2px;
    left: 0;
    
}
.tabs__item {
    display: inline-block;
    line-height: 19px; 
    padding: 10px;
    text-decoration: none;
    max-width: 202px;
    width: 100%;
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.tab__wrapper {
    border: 1px solid #C6CBCD;
    display: flex;
}

.tab__content {
    padding: 56px 30px 56px 100px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.tab__title {
    margin-bottom: 57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;

}

.tab__text {
    margin-bottom: 57px;
    font-size: 18px;
    line-height: 21px;
}
.tab__text p:first-child {
    margin-bottom: 26px;
}

.tab__btn {
    max-width: 270px;
    width: 100%;
    padding: 17px;
    line-height: 24px;
    background-color: #EC7979;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: #FFF;
}

.tab__wrapper-img {
    width: 40%;
    overflow: hidden;
}

.tab__img{
    width: 100%;
    height: 100%;
}

.awesome{
    margin-bottom: 110px;
}
.head {
    margin-bottom: 92px;
}    

.head__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 80px ;
    line-height: 42px;
    position: relative;
    }

.head__title::before {
    content: "";
    display: block;
    width: 170px;
    height: 1px;    
    background: #EC7979;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    
}

.head__text {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.awesome__wrapper :last-child {
    margin: 0;
}

.awesome__column {
    max-width: 370px;
    display: inline-block;
    margin: 0 25px 0 0;
  }

.awesome__wrapper-icon {
    width: 92px;
    height: 92px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.awesome__title {
    margin-bottom: 26px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 33px;

}

.awesome__text {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.pricing{
    background: #F5F5F5;
    padding: 82px 0;
    margin-bottom: 107px;
}
.price{
    margin-bottom: 79px;
}

.prising__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 31px;
    padding: 0;
}   

.basic{
    max-width: 370px;
    width: 100%;
}

.optima{
    margin-top: -20px;
    max-width: 370px;
    width: 100%;
}

.pro{
    max-width: 370px;
    width: 100%;
}

.row__prising-title{
    margin-bottom: 2px;
    padding: 13px 0;
    background-color: #333333;
    list-style-type: none;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}

.row__prising-price{
    margin-bottom: 2px;
    padding: 29px 0;
    list-style-type: none;
    background-color: #333333;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.row__prising-description{
    padding: 13px 0;
    list-style-type: none;    
    background-color: #333333;
    color: #ffffff80;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.row__prising{
    padding: 15px 0;
    border-bottom: 2px solid #F5F5F5;
    list-style-type: none;
    background-color: #ffffff;
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

ul :last-child{
    border-bottom: 0;
}

.customers{
    margin-bottom: 108px;
}
.custom{
    margin-bottom: 83px;
}

.customers__wrapper{
    list-style-type: none;
    display: inline-flex;
    column-gap: 30px;
}

.customers__text{
    position: relative;
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    border-radius: 10px;
    background: #E2E2E2;
    padding: 38px 25px;
    margin-bottom: 66px;
}
    
.customers__text::after {
    content: "";
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute;
    bottom: -19px;
    left: 20%;
}

.customer{
    display: flex;
    column-gap: 30px;
}

.customer__image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.customer__img{
    height: 100%;
    width: 100%;
}

.customer__surname{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.customer__post{
    color: hsl(0, 0%, 0%);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;

}

.design__container{
    position: relative;
    z-index: 1;
}

.des{
    margin-bottom: 80px;
}

.design__title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 80px ;
    line-height: 42px;
    position: relative;
    }

.design__title::before {
    content: "";
    display: block;
    width: 170px;
    height: 1px;    
    background: #ffffff;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.design__text {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.design{
    margin-bottom: 67px;
    padding: 70px 0;
    background-image: url(../Img/designBG.jpg);
    background-position: center;
    position: relative;
    }

.design::after{
    position: absolute;
    content: "";
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.design__container{
    position: relative;
    z-index: 1;
}

.design__btn{
    display: block;
    width: 100%;
    max-width: 370px;
    border: 2px solid #fff;
    margin: 0 auto;
    background: none;
    padding: 16px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}    

.footer{
    background: #000000;
    padding: 35px 0 27px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    margin-bottom: 28px;
}

.icons a{
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.creater{
    color: #ffffff80;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

