* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background: url(/assets/images/street.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 306px 0 185px;
    opacity: 0.9;
}

 .banner__container {
    align-items: center;
 }


.banner__info {
    max-width: 670px;
    width: 100%;
}

.logo {
    margin-bottom: 73px;
}

.banner__title {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56.35px;
    text-transform: uppercase;
    margin-bottom: 97px;
    position: relative;
}

.banner__title::before {
    position: absolute;
    content: "";
    bottom: -42px;
    left: 0;
    border-bottom: 1px solid #FFF;
    width: 170px;
}

.banner__subtitle {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    margin-bottom: 42px;
    max-width: 270px;
}

.banner__btn {
    display: block;
    max-width: 270px;
    width: 100%;
    padding: 17px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #ff000000;
}

.tabs {
    margin: 100px auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.tabs__header {
    display: flex;
    width: 100%;
}

.tabs__tab {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.07px;
    text-transform: uppercase;
    max-width: 203px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.tab_active {
    position: relative;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
}

.tab_active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #FFFFFF;
    bottom: -5px;
    left: 0;
}

.tab {
    display: flex;
    width: 100%;
    border: 1px solid #C6CBCD;

}

.tab__box {
    width: 60%;
    padding: 55px 29px 54px 100px;
}

.tab__title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.85px;
    margin-bottom: 57px; 
}

.tab__wrapper-text {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    margin-bottom: 84px;

}

.tab__text:first-child {
    margin-bottom: 26px;
}

.tab__wrapper-image {
    width: 40%;
}

img, .tab__image {
    width: 100%;
    height: 100%;
}  

.tab__btn {
    max-width: 270px;
    width: 100%;
    padding: 17px;
    background-color: #EC7979;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.awesome {
    margin-bottom: 100px;
}

.title {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.26px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}

.title::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-top: 1px solid #EC7979;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
}

.text {
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    margin-bottom: 92px;
}

.awesome__box {
    display: flex;
    justify-content: space-between;
}

.awesome__row {
    display: inline-block;
    max-width: 371px;
}

.awesome_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px;
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
 
}

.awesome__subtitle {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.awesome__text {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
}

.pricing {
    background-color: #F5F5F5;
    padding: 82px 0;
    margin-bottom: 100px;
}

.pricing__text {
    margin-bottom: 79px;
}

.pricing__options {
    display: flex;
    column-gap: 30px;
}

.pricing__items {
    flex: 1 1 auto;
    text-align: center;
    list-style-type: none;
}

.pricing__items-active {
    margin: -20px 0 20px;
    box-shadow: 0px 5px 10px 0px #33333333;
}

.pricing__item-title {
    background: #333333;
    color: #FFFFFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: capitalize;
    border-bottom: 2px solid #F5F5F5;
    padding: 14px 0 13px; 
}

.pricing__item-price {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42.26px;
    border-bottom: 2px solid #F5F5F5;
    padding: 29px 0;
}

.pricing__item-description {
    background: #333333;
    color: #ffffff80;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    border-bottom: 2px solid #F5F5F5;
    padding: 15px 0 14px;
}

.pricing__item-option {
    background: #FFF;
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    text-transform: capitalize;
    border-bottom: 2px solid #F5F5F5;
    padding: 15px 0 14px;
}

.pricing__item-option:last-child {
    border: none;
}

.pricing__items-active {
    border: 2px solid #F5F5F5;
}

.customers {
    margin-bottom: 100px;
}

.customers__subtitle {
    margin-bottom: 83px;
}

.customers__container {
    display: flex;
    column-gap: 30px;
}

.customer__quote {
    position: relative;
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border-radius: 10px;
    background-color: #E2E2E2;
    padding: 38px 25px;
    margin-bottom: 66px;
}

.customer__quote::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 70px;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;  
}

.customer__image-wrapper {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.customer__author-box {
    display: flex;
    column-gap: 30px;
}

.customer__name {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    text-transform: capitalize;
    margin-bottom: 18px;

}

.customer__job-position {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
}

.design {
    background: url(/assets/images/city.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto 70px;
    position: relative;
    padding: 70px 0;
}

.design__container {
    position: relative;
}

.design::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.design__title {
    color: #FFF;
}

.design__title::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-top: 1px solid #FFF;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
}

.design__subtitle {
    color: #FFF;
    margin-bottom: 80px;
} 

.design__btn {
    display: block;
    max-width: 370px;
    width: 100%;
    padding: 17px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 auto;
    background-color: #ff000000;
}

