* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.info__wrapper {
    margin: 118px 0;
}

.info__tab {
    display: inline-block;
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    max-width: 178px;
    width: 100%;
    padding: 10px 0;
}

.info__tab:first-child {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    max-width: 203px;
}

.info__container {
    border: 1px solid #C6CBCD;
    display: flex;
}

.info__page {
    display: inline-block;
    vertical-align: top;
    width: 59.83%;
    padding: 55px 30px 54px 100px;
}

.info__title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    margin-bottom: 57px;
}

.info__text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px; 
}

.info__page p:first-of-type {
    margin-bottom: 26px;
}

.info__page p:last-of-type {
    margin-bottom: 82px;
}

.info__button {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background-color: #EC7979;
    border: none;
    padding: 17px;
}

.info__image-wrapper {
    display: inline-block;
    max-height: 500px;
    height: 100%;
    width: 40.17%;
}

.info__image {
    height: 100%;
    width: 100%;
}

.main-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.awesome__wrapper {
    margin-bottom: 118px;
}

.head {
    margin-bottom: 92px;
}
.head__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.26px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.head__separator {
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
    max-width: 170px;
    width: 100%;
}

.head__text {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
}

.awesome__container {
    display: flex;
    column-gap: 26px;
}

.awesome__advantage {
    max-width: 371px;
    text-align: center;
}

.awesome__advantage-border {
    border-radius: 100px;
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    margin:0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome__advantage-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    margin-bottom: 30px;
}

.awesome__advantage-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.pricing__wrapper {
    background-color: #F5F5F5;
    margin-bottom: 118px;
    padding-top: 82px;
    padding-bottom: 83px;
}

.pricing__head {
    margin-bottom: 79px;
}

.pricing__container {
    display: flex;
    column-gap: 30px;
}
.pricing__list {
    flex: 1 1 auto;
    list-style-type: none;
    text-align: center;
}

.pricing__list-active {
    margin: -20px 0 20px;
    box-shadow: 0px 5px 10px 0px #33333333;
}

.pricing__item-title {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    line-height: 33px;
    padding: 14px 0 13px; 
}

.pricing__item-price {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    line-height: 42px;
    padding: 29px 0;
}

.pricing__item-period {
    color: #ffffff80;
    font-size: 18px;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    line-height: 21px;
    padding: 15px 0 14px;
}

.pricing__item-space {
    color: #86878B;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F5F5F5;
    line-height: 21px;
    padding: 15px 0 14px;
}

.pricing__item-space:last-child {
    border: none;
}