html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.header {
    height: 75px;
    background-color: #000;
    margin: 0 auto;
    padding: 18px 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 1238px;
    margin: 0 auto;
}
.header__nav {
    max-width: 600px;
    width: 100%;
}
.header__nav-list {
    display: flex;
}
.header__nav-list-item {
    list-style: none;
    flex: 1 1 auto;
}
.header__nav-list-item-link:hover {
    background-color: #EC7979;
}
.header__nav-list-item-link:active {
    background-color: #AB4949;
}
.header__nav-list-item-link {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 19.07px;
    list-style: none;
    display: block;
    padding: 10px 15px;
}
.main-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.banner__wrapper {
    background: url(../assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    padding: 306px 0 185px;
}
.banner__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}
.banner__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.banner__info {
    max-width: 670px;
    width: 100%;
}
.banner__logo-wrapper {
    margin-bottom: 71px;
}
.banner__title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 97.12px;
    position: relative;
}
.banner__title::after {
    position: absolute;
    content: "";
    bottom: -55.12px;
    left: 0;
    border-bottom: 1px solid #FFF;
    width: 170px;
}
.banner__description {
    margin-bottom: 39px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    max-width: 270px;
}
.banner__button {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background-color: #ff000000;
    border: 2px solid #FFFFFF;
    max-width: 270px;
    width: 100%;
    padding: 16px;
}
.banner__form-wrapper {
    text-align: center;
    max-width: 470px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.banner__form {
    padding: 36px 50px 0;
    margin-bottom: 75px;
}
.form__title {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.form__coloring {
    color: #EC7979;
}
.form__input {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    padding: 16px 0 16px;
    width: 100%;
    max-width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px;
}
.form__input::placeholder {
    color: #BDBDBD;
}
.banner__form .form__input:last-of-type  {
    margin-bottom: 0;
}
.form__button {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.43px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.form__button:hover {
    background-color: #AB4949;
    border: 1px solid #AB4949;
}
.form__button:active {
    border: 1px solid #AB4949;
}
.social__wrapper {
    margin-bottom: 100px;
    background-color: #F8EFEF;
    padding: 32px 0 18px;
}
.social__container {
    display: flex;
    align-items: center;

}
.social__title {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.social__description {
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}
.icons {
    display: flex;
    justify-content: center;
    column-gap: 32.8px;
    margin-bottom: 27.8px;
}
.social__icons {
    margin: 0;

}
.social__icon {
    width: 53.2px;
    height: 53.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__icon:hover path{
    fill: #AB4949;
}
.info__wrapper {
    margin-bottom: 118px;
}
.info__tab {
    display: inline-block;
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    max-width: 178px;
    width: 100%;
    padding: 10px 0;
}
.info__tab-active {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    max-width: 203px;
    position: relative;
}
.info__tab-active::after {
    position: absolute;
    content: '';
    width: 100%;
    background-color: #FFF;
    left: 0;
    bottom: -5px;
    height: 5px;
}
.info__container {
    border: 1px solid #C6CBCD;
    display: flex;
}
.info__page {
    display: inline-block;
    vertical-align: top;
    width: 59.83%;
    padding: 55px 30px 54px 100px;
}
.info__title {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    margin-bottom: 57px;
}
.info__text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px; 
}
.info__page p:first-of-type {
    margin-bottom: 26px;
}
.info__page p:last-of-type {
    margin-bottom: 82px;
}
.button-third {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background-color: #EC7979;
    border: none;
    padding: 17px;
}
.button-third:active {
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}
.button-third:hover {
    background-color: #AB4949;
}
.info__image-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__image {
    height: 100%;
    width: auto;
}
.awesome__wrapper {
    margin-bottom: 118px;
}
.head {
    margin-bottom: 92px;
}
.head__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.26px;
    margin-bottom: 80px;
    text-transform: uppercase;
    position: relative;
}
.head__title::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-top: 1px solid #EC7979;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
}
.head__text {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
}
.awesome__container {
    display: flex;
    column-gap: 26px;
}
.awesome__advantage {
    max-width: 371px;
    text-align: center;
}
.awesome__advantage-border {
    border-radius: 100px;
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    margin:0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.awesome__advantage-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    margin-bottom: 30px;
}
.awesome__advantage-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}
.pricing__wrapper {
    background-color: #F5F5F5;
    margin-bottom: 118px;
    padding-top: 82px;
    padding-bottom: 83px;
}
.pricing__head {
    margin-bottom: 79px;
}
.pricing__container {
    display: flex;
    column-gap: 30px;
}
.pricing__list {
    flex: 1 1 auto;
    list-style-type: none;
    text-align: center;
}
.pricing__list:hover {
    margin: -20px 0 20px;
    box-shadow: 0px 5px 10px 0px #33333333;
}
.pricing__item-title {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    line-height: 33px;
    padding: 14px 0 13px; 
}
.pricing__item-price {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    line-height: 42px;
    padding: 29px 0;
}
.pricing__item-period {
    color: #ffffff80;
    font-size: 18px;
    background-color: #333333;
    border-bottom: 2px solid #F5F5F5;
    line-height: 21px;
    padding: 15px 0 14px;
}
.pricing__item-space {
    color: #86878B;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F5F5F5;
    line-height: 21px;
    padding: 15px 0 14px;
}
.pricing__item-space:last-child {
    border: none;
}
.customers__head {
    margin-bottom: 83px;
}
.customers__wrapper {
    margin-bottom: 118px;
}
.customers__container {
    display: flex;
    column-gap: 30px;
}
.customer__quote {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border-radius: 10px;
    background-color: #E2E2E2;
    padding: 38px 25px 37px;
    margin-bottom: 66px;
    position: relative;
}
.customer__quote::after {
    content: ''; 
    display: inline-block;
    position: absolute;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    top: 100%; 
    left: 70px
}
.customer__human-wrapper {
    display: flex;
    column-gap: 30px;
}
.customer__photo-wrapper {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
.customer__photo {
    width: 100%;
    height: 100%;
}
.customer__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.customer__position {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}
.design__wrapper {
    background: url(../assets/images/city.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    padding: 70px 0;
    margin-bottom: 67px;
}
.design__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}
.design__container {
    position: relative;
}
.design__head {
    margin-bottom: 0;
}
.design__title {
    color: #FFF;
}
.design__text {
    color: #FFF;
    margin-bottom: 80px;
}
.design__title::after {
    border-top: 1px solid #fff;
}
.design__button {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-transform: capitalize;
    background-color: #ff000000;
    border: 2px solid #FFFFFF;
    max-width: 370px;
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    display: block;
}
.button-first:hover {
    border-color: #AB4949;
    color: #AB4949;
}
.button-first:active {
    border-color: #AB4949;
    background-color: #AB4949;
    color: #FFF;
}
.contacts__wrapper {
    margin-bottom: 66px;
}
.contacts__head {
    margin-bottom: 89px;
}
.contacts__inputs-container {
    display: flex;
    column-gap: 30px;
    margin-bottom: 52px;
}
.contacts__inputs-creds {
    max-width: 570px;
    width: 100%;
}
.contacts__input {
    max-width: 570px;
    width: 100%;
    margin-bottom: 52px;
}
.contacts__inputs-container .contacts__input:last-of-type {
    margin-bottom: 0;
}
textarea {
    resize: none;
}
.contacts__button {
    display: block;
    margin: 0 auto;
    max-width: 370px;
}
.footer {
    background-color: #000;
    padding: 35px 0 27px;
}
.footer__text {
    color: #ffffff80;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}