* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Features */

.feautures__tab {
  display: flex;
  border-bottom: 0;
}
.tab__item-active {
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  max-width: 203px;
  text-align: center;
  border: 1px solid #c6cbcd;
  border-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}
.feautures__tab-item {
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  max-width: 203px;
  text-align: center;
  border-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}

.feautures {
  margin-bottom: 118px;
}

.feauture {
  display: flex;
  border: 1px solid #c6cbcd;
}

.feautures__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.85px;
  color: #000000;
  margin-bottom: 57px;
}
.feautures__text {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 26px;
}

.feautures__text:nth-last-of-type(1) {
  margin-bottom: 58px;
}

.feautures__button {
  background-color: #ec7979;
  border: none;
  max-width: 207px;
  width: 100%;
  padding: 17px;
  line-height: 24.51px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
.feauture__wrapper-image {
  width: 40%;
}
.feauture__image {
  height: 100%;
  width: 100%;
}

.feauture__content {
  width: 60%;
  padding: 56px 30px 54px 100px;
}

/* Awesome */

.awesome__header {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  margin-bottom: 40px;
}

.header__title {
  margin-bottom: 92px;
}
.header__text {
  color: #86878b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.23px;
}

.awesome__header:after {
  content: "";
  display: block;
  margin-left: 44%;
  margin-top: 40px;
  width: 170px;
  height: 1px;
  background-color: #ec7979;
}

.awesome__content {
  display: flex;
  text-align: center;
}
.awesome-card__wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  width: 92px;
  height: 92px;
}
.awesome-card__title {
  color: #000;
  margin-bottom: 26px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
}

.awesome-card__text {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.awesome-card {
  margin-right: 27px;
  margin-bottom: 110px;
}

.awesome-card:last-child {
  margin-right: 0;
}

/* Pricing */

.wrapper__pricing {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 84px 0 79px;
}

.pricing__header {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-transform: uppercase;
}

.pricing__header::after {
  content: "";
  display: block;
  margin-left: 42%;
  margin-top: 40px;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
}

.pricing__subheader {
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  color: #86878B;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.pricing__flexbox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pricing__flexbox-item:nth-child(2) {
  margin: -20px 0 0 0;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

.pricing__text {
  height: 60px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__flexbox-price {
  height: 100px;
  margin: 2px 0 0 0;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.26px;
  background-color: #000;
  transition: background-color 0.3s linear;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__flexbox-offer {
  width: 370px;
  height: 50px;
  margin: 2px 0 0 0;
  font-family:  "OpenSans-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  background-color: black;
  color: #fff;
  transition: background-color 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: OpenSans-Light;
  font-size: 14px;
  font-style: normal;
  color: #868786;
  border: 2px solid #F5F5F5;
  background: #FFF;
}



.pricing {
    background: #F5F5F5;
}
