* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 79px;
}

/* Navbar */

.navigations {
  background-color: #000;
  padding: 22px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  column-gap: 30px;
  list-style: none;
}



.menu__link {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 63px;
  text-transform: capitalize;
  text-decoration: none
}

.nav__logo {
  display: flex;
  max-width: 87px;
}

svg {
  width: 100%;
}

/* Header */

.banner {
  background: url(../images/image.jpg), lightgray 50% / cover no-repeat;
  padding: 306px 0 185px 0;
  position: relative;
}
.banner:after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.50);;
}

.banner__block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 101px;
}

.banner__logo {
  max-width: 670px;
  width: 100%;
}


.banner__title-logo {
  display: flex;
  max-width: 170px;
  margin-bottom: 72px;
}

.banner__text-logo {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.35px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 97px
}

.banner__text-logo:after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  bottom: -55px;
}

.subheader__text {
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 42px;
}

.button__banner-logo {
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-transform: capitalize;
  background-color: #ff000000;
  border: 2px solid #FFFFFF;
  max-width: 270px;
  width: 100%;
  padding: 16px;
  display: block;
}

.banner__form-wrapper {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 470px;
  
}
.form__wrapper-block {
  padding: 38px 50px 0 50px;
  margin: 0 auto;
  text-align: center;
}

.form__wrapper-title {
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-transform: uppercase; 
}

.spin {
  color: #EC7979;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.68px;
  text-transform: uppercase; 
}

.banner__button {
  border-radius: 0px 0px 8px 8px;
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20.43px; 
  background: #EC7979;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  border:none;
  padding: 16px;
  display: block;
}


.form__label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
  padding: 16px 0 16px;
  width: 100%;
}
.form__input::placeholder {
  color: #BDBDBD;
}

.form__label:last-child {
  margin-bottom: 75px;
}

/*Social Icon */

.social {
  padding: 32px 0 18px;
  background: #F8EFEF;
  margin-bottom: 110px;
}

.social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.social__wrapper-title {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.social__wrapper-text {
  color: #86878B;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.social__wrapper-subheader {
  display: flex;
  column-gap: 32px;
  justify-content: center;
  max-width: 570px;
}

/* Features */

.feautures__tab {
  display: flex;
  border-bottom: 0;

}

.tab__item-active {
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  max-width: 203px;
  text-align: center;
  border: 1px solid #c6cbcd;
  border-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
  position: relative;
}

.tab__item-active::before {
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  background: #FFF;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.feautures__tab-item {
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  max-width: 203px;
  text-align: center;
  border-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #000000;
}

.feautures {
  margin-bottom: 118px;
}

.feauture {
  display: flex;
  border: 1px solid #c6cbcd;
}

.feautures__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.85px;
  color: #000000;
  margin-bottom: 57px;
}

.feautures__text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 26px;
}

.feautures__text:nth-last-of-type(1) {
  margin-bottom: 58px;
}

.feautures__button {
  background-color: #ec7979;
  border: none;
  max-width: 207px;
  width: 100%;
  padding: 17px;
  line-height: 24.51px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.feauture__wrapper-image {
  width: 40%;
}

.feauture__image {
  height: 100%;
  width: 100%;
}

.feauture__content {
  width: 60%;
  padding: 56px 30px 54px 100px;
}

/* Awesome */

.awesome__header {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  margin-bottom: 80px;
  position: relative;
}

.awesome__header:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  width: 170px;
  height: 1px;
  background-color: #ec7979;
}

.header__title {
  margin-bottom: 92px;
}

.header__text {
  color: #86878b;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.23px;
}



.awesome__content {
  display: flex;
  text-align: center;
}

.awesome-card__wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  width: 92px;
  height: 92px;
}

.awesome-card__title {
  color: #000;
  margin-bottom: 26px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
}

.awesome-card__text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.awesome-card:last-child {
  margin-right: 0;
}

.awesome {
  margin-bottom: 110px;
}

/* Pricing */

.head__title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.head__title::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.head__text {
  color: #86878B;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.pricing__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 30px;
}

.pricing__item {
  width: 100%;
  max-width: 370px;
}

.pricing__item:nth-child(2) {
  margin: -20px 0 0 0;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

.pricing__title {
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-transform: capitalize;
  padding: 14px;
}

.pricing__text-price {
  margin: 2px 0 0 0;
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.26px;
  background-color: #000;
  transition: background-color 0.3s linear;
  border-radius: 1px;
  padding: 29px;
  text-align: center;
}

.pricing__offer {
  margin: 2px 0 2px 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  background-color: black;
  color: #fff;
  transition: background-color 0.3s linear;
  text-align: center;
  padding: 17px;
}

.pricing__list-item {
  padding: 15px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #868786;
  border: 2px solid #F5F5F5;
  background: #FFF;
  list-style-type: none;
  text-align: center;
}



.pricing {
  background: #F5F5F5;
  padding: 82px 0 82px 0;
  margin-bottom: 107px;
}

.pricing__list-item:nth-child(6) {
  border: 0 solid #F5F5F5;
}


/* Customers */

.customers {
  margin-bottom: 107px;
}

.header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 42px;
  line-height: 100%;
  color: #212121;
  margin-bottom: 80px;
  position: relative;
}

.header__title:after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.header__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878B;
}

.customers__wrapper {
  display: flex;
  column-gap: 30px;
}

.block__text {
  color: #86878B;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 10px;
  background: #E2E2E2;
  padding: 38px 25px 37px;
  margin-bottom: 66px;
  position: relative;
}

.block__text::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 20px solid #e2e2e2;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  position: absolute;
  top: 100%;
  left: 65px;
}


.customers__author-title {
  color: #000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.customers__author-profession {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.13px;
  margin: 0;
}

.customers__author-block {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.customers__author-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}

.customers__avatar {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.customer {
  max-width: 370px;
}

/* Banner */

.desing {
  background: url(../images/banner.jpeg), lightgray 50% / cover no-repeat;
  padding: 70px 0;
  position: relative;
  margin-bottom: 67px;
  z-index: 1;
}
.desing:after {
  position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    z-index: -1;
}

.desing__title {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;

}

.desing__title::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}


.desing__text {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 80px;
}

.desing__button {
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-transform: capitalize;
  background-color: #ff000000;
  border: 2px solid #FFFFFF;
  max-width: 370px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  display: block;
}




/* Contact */

.contact__title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
}

.contact__title:after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  background-color: #D98943;
}

.contact__text {
  color: #86878B;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 89px;
}



.contact__form {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.contact__input-form {
  display: flex;
  flex-direction: column;
  width: 571px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #020202;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
  padding: 10px;
}



.contact__button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  background-color: #ec7979;
  border: none;
  color: white;
  width: 370px;
  height: 58px;
  margin: 66px auto 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* Footer */

.footer {
  background-color: #000;
  margin: 0 auto;
  padding: 35px 0 24px;

}

.wrapper__footer {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  justify-content: center;
  margin-bottom: 27px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.btn:hover {
  background: #AB4949;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.btn:active {
  background: #EC7979;
  box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.button__btn:hover {
  border: 2px solid #EC7979;
  color: #EC7979;
}
.button__btn:active {
  border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFF;
}

.social__icon:hover {
  box-shadow: 8px 10px 5px 2px rgba(224, 224, 224, 0.4);
}

.social__icon:active {
  background: #fdfdfd;
}

input:hover,
input:focus {
  border-color: grey;
  outline: 2px solid rgb(186, 186, 186);
}

textarea:hover,
textarea:focus {
  border-color: grey;
  outline: 2px solid rgb(186, 186, 186);
}