*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Social Media */
.media {
  margin-bottom: 106px;
  padding: 32px 0 18px;
  background-color: #F8EFEF;
}
.media_container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.media_text {
  max-width: 470px;
  width: 100%;
  color: #86878B;
  font-family: 'Raleway', 'sans-serif' ;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.media_headline{
  margin-bottom: 16px;
  display: flex;
  width: 470px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #333;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.media_lorem{
 text-align: left;
}
.media_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
}
.icon_header{
  width: 70px;
  height: 70px;
}



/* Tabs with soft transitioning effect */
.effect {
  margin-bottom: 106px;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.effect__tabs{
}
.effect__link {
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  padding: 10px;
  max-width: 183px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.effect__link_active {
max-width: 203px;
border-radius: 5px 5px 0px 0px;
border: 1px solid #C6CBCD;
position: relative;
}
.effect__link_active::after{
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: -3px;
  border-bottom: #FFF;
}
.effect__content {
  border: 1px solid #C6CBCD;
  display: flex;
}
.effect__info{
  width: 60%;
  padding: 55px 30px 54px 100px;
}
.effect__title{
color: #000;
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 40px;
margin-bottom: 57px;
}
.effect__text {
  color: #000;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
margin-bottom: 26px;
}
.effect__text:nth-last-of-type(1){
  margin-bottom: 84px;
}
.effect__button{
  max-width: 270px;
  width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px;
background: #EC7979;
color: #fff;
border: none;
padding: 17px;
}
.effect__wrap-img{
  display: inline-block;
  width: 40%;
}
.effect__image{
  width: 100%;
  height: 100%;
}



/* Why this is awesome */
.awesome {
  margin-bottom: 106px;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.head {
}
.head__title {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 80px;
  position: relative;
}
.head__title::after{
  content: '';
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  top: calc(100% + 40px);
}
.head__text {
  color: #86878B;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.awesome__wrapper {
}
.awesome-column {
  max-width: 371px;
  display: inline-block;

}
.awesome-column__wrap-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 24px;
  max-width: 92px;
  height: 92px;
  border: 1px solid #EC7979;
}
.awesome-column__img {
  width: 92.249px;
  height: 92px;
  flex-shrink: 0;
  display: inline-block;
}
.awesome-column__title {
  color: #000;
  text-align: center;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  text-transform: capitalize;
  margin-bottom: 26px;
}
.awesome-column__text {
  color: #000;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}



/* Pricing options */
.pricing {
  background-color: #F5F5F5;
  max-width: 1510px;
  width: 100%;
  flex-shrink: 0;
  padding-top: 82px;
  padding-bottom: 83px;
  margin-bottom: 106px;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.head {
}
.head_title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 80px;
  position: relative;
}
.head_title::after{
  content: '';
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  top: calc(100% + 40px);
}
.head_text {
  color: #86878B;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}



.packs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 530px;
  margin-top: 79px;
}
.packs_column {
  max-width: 370px;
  width: 100%;
  display: inline-block;
  height: 530px;
}
.packs-column__rectangle {
  width: 370px;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #F5F5F5;
  background: #FFF;
}
.col-2 {
  margin: 59px 30px 103px 30px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}
.rectangle_one{
  height: 60px;
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 13px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  text-transform: capitalize;
}
.rectangle_two {
  height: 100px;
  background: #333;
  text-align: center;
  padding: 29px 0;
  color: #FFF;
  font-family: 'Raleway' , sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.26px;
}
.rectangle_three {
  height: 50px;
  background: #333;
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  padding: 15px 0 14px;
  font-family: 'Raleway' , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.rectangle_text {
  color: #86878B;
  text-align: center;
  padding: 15px 0 14px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
}



/* What our customers are saying */
.customers {
  margin-bottom: 106px;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.head {
  margin-bottom: 83px;
}
.head__title {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 80px;
  position: relative;
}
.head__title::after{
  content: '';
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  top: calc(100% + 40px);
}
.head__text {
  color: #86878B;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column{
  max-width: 370px;
  width: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.second-col{
  margin: 0 30px;
}
.rec{
  width: 370px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #E2E2E2;
  padding: 38px 25px 37px;
  margin-bottom: 66px;
  position: relative;
}
.rec::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
  top: 100%;
  left: 70px;
}
.cust_text{
  color: #86878B;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}
.initials {
  display: flex;
}
.image {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
.text{
  width: 270px;
  margin-left: 30px;
}
.name {
  text-align: left;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-transform: capitalize;
}
.position{
  text-align: left;
  color: #000;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



/* Stylish axure design */
.design {
  background: rgba(0, 0, 0, 0.50);
  padding: 70px 0;
  position: relative;
}
.design::before{
  position: absolute;
  content: '';
  background-image: url(../design_img/image.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.head {
}
.head_title {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 80px;
  position: relative;
  color: #FFF;
  text-transform: uppercase;
}
.head_title::after{
  content: '';
  width: 170px;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  top: calc(100% + 40px);
}
.head_text {
  color: #FFF;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 58px;
  margin: 0 auto;
  flex-shrink: 0;
  border: 3px solid #fff;
	background-image: none; 
	background: transparent;
	background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}



/* Footer */
footer{
  max-width: 1510px;
  width: 100%;
  height: 164px;
  flex-shrink: 0;
  background-color: #000;
  padding: 35px 0 27px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 570px;
  margin: 0 auto 27.8px;
}
.icon_footer{
  width: 53.2px;
  height: 53.2px;

}
.copyright {
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
